.ibm-padding-top-2.bx--row
    h1.ibm-h1 Terms of use
    | By accessing EXPOsed Revenue, you agree to the following Terms of Use. You must comply with IBM policies, guidelines and practices at all times.
    br
    br
    h3.ibm-h3 Privacy notice:
    | EXPOsed Revenue Tracking (EXPO) provides some automation in calculating and trackinng billing and revenue exposures against expired / partial / missing POs for US TSS for both commercial and federal.
    | Use of EXPO must be in compliance with&nbsp;
    a(href='https://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Business+Conduct+Guidelines', target='_blank') IBM Conduct Guidelines&nbsp;
    | and business process (TSS). IBM may, as required, hold, disclose, and process your personal data across the IBM global organization.
    br
    br
    | Personal Information in the application are: IBM employee information (i.e.: Intranet id, names) , Customer information (i.e.: contact name, phone number).
    br
    br
    h3.ibm-h3 Acceptable use
    | Information that is securely processed by or stored in EXPO:
    br
    p
      a(href='https://w3.ibm.com/ibm/privacy/guidance-on-pi-spi#show-hide')
        span Personal Information
      span &nbsp; - listed above - is considered as IBM Confidential information so must be used and protected accordingly.
      br
      a(href='https://pages.github.ibm.com/it-standards/main/policies/itss.html')
        span IBM Confidential data
    p
      span Information that must NOT be processed by or stored in EXPO:&nbsp;
      br
      a(href='http://w3-03.ibm.com/ibm/privacy/practices_guidance.html#show-hide', target='_blank')
        | Sensitive Personal Information (SPI)
      br
      a(href='https://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Corporate+Instruction+FIN+180', target='_blank')
        | E-Payment Data
      br
      a(href='https://pages.github.ibm.com/it-standards/main/policies/itss.html', target='_blank')
        | Crown Jewel Data
    h3.ibm-h3 Restricted Access
    | No employee may update the application without appropriate documentation and justification. If you no longer require access to EXPO, please request the deletion of your access.
    br
    | Federal instance is restricted to U.S citizen - users with restricted rights.
    br
    br
