.landing-page__banner
    #ibm-leadspace-body.cds--grid.cds--row
        .cds--col-lg-16
            .landing-page__title
                span Diem
                span.c-yellow &nbsp;Welcome
            .landing-page__subtitle Making things work

        .cds--col-lg-16
            #ibm-leadspace-content
                h4.pdt-5
                    p
                    | The Diem can be used to create, display, execute and maintain data transfers between hardware and database platforms.
                    | It will cover how to create and manage transfers and assign them to a schedule to execute regularly without human intervention.
                    | <br/><br/>
                    | The ETL-Manager provides a front end for SPARK ETL (Extract, Transform, Load) – an SQL data pipeline that can be used to synchronize data between RDMS platforms.   Composed of individual transfer operations called jobs, the tool will execute SQL statements to select data from a source system and insert or replicate the data on a target system.
                    | <br/><br/>
                    | The ETL-Manager  allows the user to create scripts using the interpreted programming language Python, and to create sophisticated schedules using Cron (a work scheduler for Unix systems.)  The combination of Python and Cron, along with the intrinsic ability to define and execute custom SQL statements, allows a range of activities from simple data transfers to more sophisticated job streams.
                    | <br/><br/>
                    | The ETL-Manager l also allows quick and easy definition of connections, as well as a scheduler and log display.  An interface to Slack can be used to send the results of jobs to a specified Slack channel.



