/*

#f4f4f4 : colors.$gray-10
#fff: colors.$white
#e0e0e0 $ui-03
#393939 #393939
#24a148 colors.$green-50
#da1e28 colors.$red-60
#161616 colors.$gray-100
#c6c6c6 colors.$gray-30
#8d8d8d #8d8d8d

*/

@use '~@carbon/styles';
@use '~@carbon/grid';
@use '~@carbon/type';
@use '~@carbon/layout';
@use '~@carbon/colors';

@include grid.flex-grid();

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts/';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

@include type.reset();

:root {
    --main-black: colors.$gray-100;
    --panel-overlay: #262626;
    --panel-overlay-close: colors.$gray-80;
    --cds-background: #262626;
    --cds-text-secondary: #525252; //#c6c6c6;
    --cds-background-hover: colors.$gray-10;
    --cds-field: #fff;
}

a:-webkit-any-link {
    text-decoration: none;
}

.productive-heading-04 {
    @include type.type-style('productive-heading-04');
}

.productive-heading-03 {
    @include type.type-style('productive-heading-03');
}

.productive-heading-01 {
    @include type.type-style('productive-heading-01');
}

.ibm-padding-top-1 {
    padding-top: layout.$spacing-06;
}

html,
main {
    margin: 0;
    height: 100%;
}

body {
    background-color: colors.$gray-10;
    height: 100%;
}

/* remove this blue border from focus except button */
*:active:not(.cds--btn--primary) {
    outline: 0;
}

df-standard-form {
    width: 100%;
}

.ex--header {
    display: inline-block;
    margin-left: 0.4em;
}

.cds--content {
    background-color: colors.$gray-10;
    margin-top: 3.125rem;
    transform: none;
    width: 100%;
    transition: 0.11s ease;
}

.cds--header > a.cds--header__name:first-child {
    display: none;
}

.cds--header-panel {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    bottom: auto;

    df-buttons {
        padding-bottom: 1rem;
    }
}

.ex--content {
    margin-top: 9rem;
    margin-bottom: 2rem;
}

fieldset {
    background-color: colors.$white;
    padding: 0.5em 1em;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
    legend {
        color: colors.$white;
        background-color: #6f6f6f;
        border: 0.0625rem solid gray;
        padding: 0.625rem;
        border-radius: 0.625rem;
    }
    a {
        color: colors.$white;
        cursor: pointer;
        font-size: 14px;
        svg {
            width: 12px;
            height: 12px;
            margin-right: 0.5rem;
        }
    }
    .ui-fieldset-content-wrapper-overflown {
        overflow: hidden;
    }
}

/* the toggling between read and edit mode */

.editmode {
    .cds--text-input,
    .cds--dropdown,
    .cds--combo-box,
    .cds--number input[type='number'],
    .ex--radiogroup,
    .cds--content:not(.ex--band) {
        background-color: colors.$white;
    }
    fieldset.cds--grid,
    ibm-tab fieldset,
    .readonly {
        background-color: colors.$gray-10;
    }
}

// number input drop icons before and after
.cds--number__control-btn:after,
.cds--number__control-btn:before {
    background-color: colors.$white;
}

.cds--text-input {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: colors.$gray-10;
}

body.editmode {
    background-color: colors.$white;
}

/* for form fields */

.cds--col-padding-b {
    padding-bottom: 1rem;
}

/* addition to the loading icon when a page loads */

.cds--loading--title {
    display: flex;
    padding: 2rem;
    .cds--loading--small {
        display: inline-block;
        margin-left: 0.625rem;
    }
    span {
        margin-left: 0.3125rem;
        margin-top: 0.625rem;
    }
}

/* ibm band is the top band of a detail page */
.ex--band {
    background-color: #325c80;
    z-index: 10;
    margin-top: 2.5rem;
    color: colors.$white;
    position: fixed;
    top: 0;
    left: 0;
}

/* panel stuff */

/* overlay is the first child of the ibm-panel */
.cds--panel--overlay {
    bottom: auto;
    height: auto;
    padding-bottom: 0rem;
    background-color: #262626;
}

.ex--panel-form .cds--panel--overlay {
    display: none;
}

.socketconn .ex--panel-form .cds--panel--overlay {
    display: inline;
}

.ex--panel-close {
    text-align: right;
    cursor: pointer;
    margin-top: auto;
    background-color: #393939;
    padding: 0.8125rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    svg {
        fill: colors.$white;
        margin-right: 1rem;
    }
    span {
        color: colors.$white;
        margin-right: 0.8125rem;
        font-weight: 600;
    }
}

.ex--action-panel-button {
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.625rem;
    color: colors.$gray-30;
    font-weight: 600;
    i {
        margin-right: 0.625rem;
    }
}

/* the magic button */

.ex--run-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-color: transparent;
    background: #42be65;
    transition: all 0.11s;
    z-index: 10;
    padding-top: 0.325rem;
    cursor: not-allowed;
    position: fixed;
    right: 2rem;
    top: 4rem;
    fill: colors.$white;
    filter: blur(10rem);
    pointer-events: none;
}

.socketconn {
    .ex--run-icon {
        filter: none;
        cursor: pointer;
        pointer-events: all;
    }
}

/* the form sidenav */

/* the setting header */

.ex--page-detail-header {
    margin: 3.1rem 0 0;
    padding: 0 2.5rem 1rem 2.5rem;
}

df-panel,
.ex--panel {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 14px;
}

.ex--panel-nav {
    flex-shrink: 0;
    width: 12rem;
    &.ex--hasheader {
        .cds--side-nav__navigation {
            top: 9.375rem;
            height: calc(100% - 9.375rem);
        }
    }
    .cds--side-nav__navigation {
        top: 3rem;
        position: fixed;
        left: 0;
        background-color: #262626;
        transition: width 0.1s ease;
        width: 12rem;
        height: calc(100% - 3rem);
    }
}

.ex--panel-min .ex--panel-nav {
    width: 2rem;
    transition: width 0.8s ease;
    .ex--panel-icon-slide-right {
        display: block;
    }
    .cds--side-nav__navigation {
        width: 3rem;
        transition: width 0.8s ease;
    }
    ul {
        display: none;
    }

    .ex--menu-panel-title > div {
        display: none;
    }
}

.ex--panel-icon-slide-right {
    cursor: pointer;
    display: none;
    margin-top: auto;
    background: #393939;
    padding: 0.8125rem;
    svg {
        fill: colors.$white;
        margin-right: 1rem;
    }
}

/* needs explain */
.ex--panel-form {
    flex: 1;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ex--menu-panel-button {
    cursor: pointer !important;
    display: block;
    padding: 0.625rem;
    padding-left: 1.5rem;
    margin-bottom: 0.3125rem;
    color: colors.$gray-30;
    position: relative;
    font-weight: 600;
    &:hover {
        background-color: #393939;
    }
    i {
        margin-right: 1rem;
    }
    &.ex--menu-panel-button-active {
        background-color: #393939;
        &::before {
            background-color: #0f62fe;
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            top: 0;
            width: 0.25rem;
        }
    }
}

.ex--menu-panel-close {
    cursor: pointer;
}

.ex--menu-panel-title {
    padding: 0.625rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: #c6c6c6;
    font-weight: 600;
    border-bottom: 1px solid gray;
    div {
        margin-top: 0.625rem;
    }
}

/* the help button */

.ex--help-button {
    bottom: 1rem;
    top: unset;
    right: 1rem;
    background: #393939;
    position: fixed;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-color: transparent;
    transition: all 0.11s;
    z-index: 10;
    fill: colors.$white;
    cursor: pointer;
    i {
        color: colors.$white;
    }
}

/*  the socket at the top of the screen connected or not */

.socketconn .socketfa {
    opacity: 1;
    fill: colors.$green-50;
    font-weight: bold;
}

.socketfa {
    opacity: 0.5;
    fill: colors.$white;
}

/* the ace editor  */

.ace_editor {
    border: 0.0625rem solid #c8c8c8;
    border-radius: 0.1875rem;
    font-size: 0.75rem;
    &.read .ace_scroller {
        background-color: colors.$gray-10;
    }
}

/* to make the error modal window  */
.cds--modal-container[aria-label='error'] {
    background-color: colors.$gray-100;
    min-height: 20rem;
    i {
        color: colors.$red-60;
    }
    p {
        color: colors.$gray-30;
        display: flex;
        align-items: center;
        padding: 2rem;
        font-size: 1.5rem;
    }
    .cds--modal-close svg {
        fill: colors.$white;
    }
}

/* to make the drop down in the pagination transparent */
.cds--pagination {
    .cds--select--inline {
        .cds--select-input {
            background-color: transparent;
        }
    }
}

/* modal fixes to support dynamic forms */
.cds--modal-content df-buttons {
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 0;
}

/* to make the modal window fullscreen add to the size="lg" a arialable=fulscreen */
.cds--modal-container--lg[aria-label='fullscreen'] {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    .cds--modal-content {
        padding: 0;
    }
}

.cds--modal-container--lg[aria-label='maximum'] {
    width: 85%;
    transform: scaleY(1);
}

/* this is for the chips model not in carbon */

.p-chips-token {
    color: #565151;
    background-color: #e5e0df;
    border: 0;
    appearance: none;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    max-width: 100%;
    min-height: 1.5rem;
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    word-break: break-word;
    border-radius: 0.9375rem;
    cursor: default;
    position: relative;
    .p-chips-token-label {
        font-size: 0.875rem;
        margin-right: 0.625rem;
    }
}

.p-chips-input-token {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0 0 0 0.125em;
    padding: 0.2145rem 0;
    position: relative;
    input {
        border: 0;
        width: 10rem;
        outline: medium none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        box-shadow: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

.p-chips .p-chips-multiple-container {
    display: block;
}

.p-chips-token-icon {
    margin-top: -0.5rem;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 0.875rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    &::before {
        content: '\00d7';
    }
}

/* home page */

.landing-page__banner {
    background: url(../../public/images/leadspace.jpg) center center / cover no-repeat fixed;
    width: 100%;
    margin-left: 0;
    transition: 0.11s ease;
    position: relative;
    margin-top: 3rem;
    .landing-page__title {
        margin-top: 3.75rem;
        font-size: carbon--type-scale(12);
        color: colors.$white;
    }
    .landing-page__subtitle {
        padding-top: 0.625rem;
        font-size: carbon--type-scale(9);
        color: colors.$white;
    }
}

#ibm-leadspace-body {
    margin: 0 auto;
    min-height: 23.125rem;
    padding: 1.875rem 0 90rem;
    z-index: 10;
}

#ibm-leadspace-content {
    margin-top: 2rem;
    color: colors.$white;
}

/* for the toast messages */

.ex--toast {
    opacity: 0;
    position: fixed;
    z-index: 100;
    max-width: 25rem;
    .cds--toast-notification__title {
        margin-top: 0;
    }
    .cds--inline-notification__text-wrapper {
        display: block;
    }
    &.toast-br {
        right: 0.625rem;
        bottom: 0.625rem;
    }
    &.toast-tr {
        right: 0.625rem;
        top: 3.125rem;
    }
    &.toast-bl {
        left: 0.625rem;
        bottom: 0.625rem;
    }
    &.toast-tl {
        left: 0.625rem;
        top: 3.125rem;
    }
}

/* for the tables */

.cds--data-table {
    .ex--table-header-expand {
        width: 2rem;
    }
    .ex--table-row-expanded:hover {
        background: colors.$white;
        td {
            background: colors.$white;
        }
    }
    &.cds--data-table--sticky-header {
        max-height: 30rem;
        tbody {
            will-change: auto;
        }
    }
}

.ex--table-white {
    .cds--data-table {
        td {
            background-color: colors.$white;
        }
    }
}

.nohover {
    .cds--data-table {
        tbody tr:hover,
        tbody tr:hover td,
        tbody tr:hover th {
            background: none;
        }
        tbody {
            background: #fff;
        }
    }
}

df-table-list .cds--table-toolbar {
    overflow: visible;
    z-index: 1;
    fieldset {
        border: 1px solid #e0e0e0;
    }
}

/* switcher top right */

.cds--switcher__item-divider {
    color: #525252;
    padding-bottom: 4px;
    border-bottom: 1px solid #525252;
    margin: 1rem 1rem 0.5rem;
    cursor: none;
    span {
        color: colors.$gray-30;
        font-size: 0.75rem;
    }
}

/* some common classes */

.mgt-0 {
    margin-top: 0;
}

.mgt-10 {
    margin-top: 0.625rem;
}

.mgt-50 {
    margin-top: 3.125rem;
}

.mgr-5 {
    margin-right: 0.625rem;
}

.mgr-10 {
    margin-right: 0.625rem;
}

.mgl-10 {
    margin-left: 0.625rem;
}

.mgb-10 {
    margin-bottom: 0.625rem;
}

.mgb-20 {
    margin-bottom: 1.25rem;
}

.mgb-50 {
    margin-bottom: 3.125rem;
}

.mgb-100 {
    margin-bottom: 6.25rem;
}

.pd-0 {
    padding: 0;
}

.pd-20 {
    padding: 1.25rem;
}

.pdt-5 {
    padding-top: 0.3125rem;
}

.pdt-0 {
    padding-top: 0;
}

.fs-14 {
    font-size: 0.875rem;
    .cds--tag {
        font-size: 0.875rem;
    }
}

.dbl {
    display: block;
}

.dbf {
    display: flex;
}

.dinbl {
    display: inline-block;
}

.v-align {
    display: flex;
    align-items: center;
}

.e-align {
    display: flex;
    align-items: flex-end;
}

.bgw {
    background: colors.$white;
    background-color: colors.$white;
}

/* disable the run start stop icons */

.ex--action-panel-button.disabled,
a.disabled,
i.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

i.pointer {
    cursor: pointer;
}

/* toggle box */

ibm-toggle {
    .cds--toggle__switch::before {
        background-color: #4589ff;
    }
    .cds--toggle-input__label .cds--toggle__switch {
        margin-top: 0.4rem;
    }
}

/* the status icon */
.statfa {
    padding: 0.625rem;
    background: #e0e0e0;
    border-radius: 50%;
    min-width: 3rem;
    min-height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.b-align {
    display: flex;
    flex-grow: 1;
    align-self: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.hidden {
    display: none;
}

.h-100 {
    height: 100%;
}

.c-white {
    color: colors.$white;
}

.c-red {
    color: colors.$red-60;
}

.c-green {
    color: colors.$green-50;
}

.c-gray {
    color: #393939;
}

.c-yellow {
    color: colors.$yellow-30;
}

/* ngrx-graph */

$primary-main: #19579e;
$primary-dark: #12448e;
$primary-light: #2066b0;
$secondary-main: #ff8800;
$secondary-dark: #bf6600;
$secondary-light: #ffab4c;
$primary-white: #ffffff;
$secondary-white: #f8f8f8;
$terciary-white: #f1f1f1;
$cuaternary-white: #e4e4e4;
$primary-text: #797979;

.chart-container {
    display: block;
    height: 25rem;
    width: 100%;
}

.chart-outer {
    flex: 0 0 100%;
    max-width: 100%;
}

.node {
    &__box {
        fill: $primary-main;
        stroke-width: 0.1875rem;
        stroke: white;
    }
    &__text {
        fill: white;
    }
    &__icon {
        fill: $secondary-main;
        &__circle {
            fill: white;
            &--with-text {
                -webkit-transform: translateY(1.75rem);
                -moz-transform: translateY(1.75rem);
                transform: translateY(1.75rem);
            }
            &--without-text {
                -webkit-transform: translateY(1rem);
                -moz-transform: translateY(1rem);
                transform: translateY(1rem);
            }
        }
        &-item {
            fill: $primary-main;
            -webkit-transform: scale(0.025, 0.025);
            -moz-transform: scale(0.025, 0.025);
            transform: scale(0.025, 0.025);
            stroke-width: 0.1875rem;
            stroke: white;
            &__circle {
                fill: white;
            }
            &--disabled {
                fill: $primary-text;
            }
        }
        &--with-text {
            -webkit-transform: scale(0.015, 0.015) translateY(1000rem);
            -moz-transform: scale(0.015, 0.015) translateY(1000rem);
            transform: scale(0.015, 0.015) translateY(1000rem);
        }
        &--without-text {
            -webkit-transform: scale(0.015, 0.015) translateY(6.25rem);
            -moz-transform: scale(0.015, 0.015) translateY(6.25rem);
            transform: scale(0.015, 0.015) translateY(6.25rem);
        }
    }
    &__header {
        -webkit-transform: translate(10rem, -6.25rem);
        -moz-transform: translate(10rem, -6.25rem);
        transform: translate(10rem, -6.25rem);
        &__text {
            font-size: 30rem;
            fill: $primary-text;
        }
        &__icon {
            fill: rgba($primary-main, 0.5);
        }
        &--start {
            -webkit-transform: translate(0rem, -3.125rem);
            -moz-transform: translate(0rem, -3.125rem);
            transform: translate(0rem, -3.125rem);
        }
    }
    &--disabled {
        .node__box {
            fill: $terciary-white;
        }
        .node__text,
        .node__icon,
        .node__icon__circle {
            fill: $primary-text;
        }
        .node__icon__circle {
            stroke-width: 0.1875rem;
            stroke: white;
        }
    }
}

.line {
    stroke: transparent;
    &--enabled {
        stroke: $primary-main;
    }
    &--disabled {
        stroke: $primary-text;
    }
}

/* to remove later */

.p-toggleable-content[aria-hidden='true'] {
    height: 0px;
    overflow: hidden;
}

/* prime radion button */

.ex--radiogroup {
    background-color: colors.$gray-10;
    padding: 0.5em 1em;
    min-height: 2.5rem;
    border-bottom: 1px solid #8d8d8d;
    display: flex;
    align-items: center;
    flex-direction: row;
}

/*  this is for the background for the radio buttons in the modal */
.cds--modal {
    .ex--radiogroup {
        background-color: colors.$white;
    }
    input:read-only {
        background-color: colors.$gray-10;
    }
}

p-radiobutton {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    .p-radiobutton-label {
        margin-left: 0.5rem;
        line-height: 1;
        &.p-disabled {
            color: colors.$gray-30;
            cursor: not-allowed;
        }
    }
}

.p-radiobutton {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    .p-radiobutton-box {
        border: 1px solid colors.$gray-100;
        background: colors.$gray-10;
        width: 1.125rem;
        height: 1.125rem;
        color: #495057;
        border-radius: 50%;
        transition:
            background-color 0.2s,
            color 0.2s,
            border-color 0.2s,
            box-shadow 0.2s;
        &.p-disabled {
            border-color: colors.$gray-30;
            cursor: not-allowed;
        }
    }
    .p-field-radiobutton {
        margin-bottom: 1rem;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    .p-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .p-radiobutton-box.p-highlight {
        .p-radiobutton-icon::before {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: colors.$gray-100;
            border-radius: 50%;
            transform: scale(0.5);
            content: '';
        }
        &.p-disabled .p-radiobutton-icon::before {
            background-color: #8d8d8d;
        }
    }
}

/* back to top button  */
#backtotop {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: colors.$gray-30;
    border-color: transparent;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    transition: all 0.11s;
    cursor: pointer;
    z-index: 9000;
    padding-top: 0.325rem;
    color: colors.$gray-100;
    display: none;
    &.active {
        display: block;
    }
}

/* tiny editor hide borders for dynamic loading */

df-tiny-editor textarea:first-child {
    border: none;
    resize: none;
    background: transparent;
}

.tinymce_editor {
    & blockquote {
        border-left: 2px solid #ccc;
        margin-left: 1.5rem;
        padding-left: 1rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
    }
    & ul,
    ol {
        font-size: 1rem;
        line-height: 2rem;
        margin-left: 2rem;
    }

    & ul {
        list-style-type: square;
    }
    & ol {
        list-style-type: decimal;
    }
}

button.cds--overflow-menu {
    border-radius: 50%;
    border-color: transparent;
    background: #42be65;
}

/* to remove when angular fixes this number input so check when carbon-component is at 10.37.0 */

.cds--list-box__menu-icon {
    border: none;
    background: none;
}

/* added to have the close panel floating at the bottom */
.cds--side-nav__items {
    display: flex;
    flex-direction: column;
}
