JPype1==1.4.1
PyJwt==2.7.0
SciPy==1.10.1
cython==0.29.35
ibm-cos-sdk==2.13.1
ibm_db==3.1.4
jaydebeapi==1.2.3
jinja2==3.1.2
jsonPath-ng==1.5.3
matplotlib==3.7.1
numpy==1.24.3 --only-binary=numpy
pandas==2.0.2
pymongo==4.3.3
requests==2.31.0
scikit-learn==1.2.2
seaborn==0.12.2
sendgrid==6.10.0
statsmodels==0.14.0
diemlib==1.1.4
pyarrow==12.0.0
PyGithub==1.58.2
openpyxl==3.1.2
tabulate==0.9.0
boxsdk[jwt]==3.7.2
chardet==5.1.0
urllib3<2