jsonPath-ng==1.5.2
requests==2.25.1
jaydebeapi==1.2.3
numpy==1.20.3 --only-binary=numpy
pandas==1.2.4
PyJwt==2.1.0
ibm-cos-sdk==2.10.0
sqlalchemy==1.4.17
ibm_db==3.0.4
statsmodels==0.12.2
SciPy==1.6.3
scikit-learn==0.24.2
matplotlib==3.4.2
jinja2==3.0.1
seaborn==0.11.1
sqlparse==0.4.1
pymongo[tls]==3.11.4
pyarrow==4.0.1
sendgrid==6.7.0
diemlib==1.1.1
JPype1==1.2.1
boxsdk[jwt]==2.12.0
PyGithub == 1.55
openpyxl == 3.0.7
tabulate == 0.8.9
slack_sdk == 3.6.0
pynpm == 0.1.2