jsonPath-ng==1.5.3
requests==2.28.1
jaydebeapi==1.2.3
numpy==1.23.1 --only-binary=numpy
pandas==1.4.3
PyJwt==2.4.0
ibm-cos-sdk==2.12.0
sqlalchemy==1.4.39
ibm_db==3.1.2
statsmodels==0.13.2
SciPy==1.8.1
scikit-learn==1.1.1
matplotlib==3.5.2
jinja2==3.1.2
seaborn==0.11.2
sqlparse==0.4.2
pymongo==4.1.1
pyarrow==8.0.0
sendgrid==6.9.7
diemlib==1.1.4
JPype1==1.4.0
boxsdk[jwt]==3.4.0
PyGithub==1.55
openpyxl==3.0.10
tabulate==0.8.10
slack_sdk==3.17.2
pynpm==0.1.2
graphviz==0.20
chardet==5.0.0
ibmcloudant==0.1.4
redis==4.3.4